<ion-header>
    <ion-toolbar>
        <span slot="start" style="margin-left: 10px;"><img src="assets/imgs/logo.png" height="30" /></span>
        <ion-title style="text-align: center;">Accueil</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="main"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col routerLink="/partie/list" style="text-align: center; margin: 10px;">
                <img src="assets/imgs/mes_parties.png">
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="font-size: 1.3em;">Nouvelle partie : </ion-col>
        </ion-row>
        <ion-row>
            <ion-col routerLink="/tarot/-1/edit">
                <img src="assets/imgs/tarot.jpg">
            </ion-col>
            <ion-col routerLink="/coinche/-1/edit">
                <img src="assets/imgs/coinche.jpg">
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button shape="round" expand="block" (click)="addToHome()" *ngIf="showInstallBtn">Installer l'application sur l'écran d'accueil</ion-button>
    <div color="light" style="text-align: center; font-size: 0.8em; margin-top: 10px;">Connected as
        <a routerLink="/user/{{currentUser.id}}/edit">{{getShortName()}}</a>.
    </div>
</ion-content>